*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* bottoni */

.button-blue{
    margin-right: 10px;
    background-color: #0061ff;
    padding: 5px 8px;
    color: white;
}












    /* header */
.header-top{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

/* parte fissa */
.top-menu{
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 25px 5px;

    
}

/* menu laterali */
.side-menu{
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #888888;
}



}


.logo{
    width:25%;
}





/* jumbotron */
.jumbo{
    width: 100%;
    height: 600px;
    margin-top: 100px;
    background-color: #b4d0e7;
    
}

.description{
     /* DEBUG */
     width: 60%;
     margin: 100px 20% 0;
     padding-top: 35px;
     height: 200px;
     font-size: 64px;
     vertical-align: middle;
    
     
}

/* paragrafo e immagine del jumbo */

.jumbo-img{
    width: 60%;
    margin:30px 20%;
    display: flex;
    justify-content: space-between;
    ;
    
}

.txt{
    width: 35%;
    height: 300px;
}

.button-blue.nth1{
    width: fit-content;
    margin: 50px 0;

}

.fa-arrow-down{
    margin-top: 65px;
    font-size: 35px;
}


.jumbo-img .nth{
    margin: 0;
    width: 40%;
    height: 300px;
    content: url(/img/jumbo.png);
     /* DEBUG */
    /*  background-color: rgb(104, 161, 190); */
}











/* main */
    /* piano business */
.business-plane{
    width: 60%;
    margin: 0 20%;
}

h3{
    padding-top: 65px;
    font-size: 25px;
}

/*  check-box */
.check-box{
    width: 41%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;


}

.check-box .nth{
    display: flex;
}

.circle{
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border: 4px solid #1c65ff;
    border-radius: 43%;
}

/* offerte */
.offers{
    display: flex;
    justify-content: space-between;
    
}

.offers .nth{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid black;
    min-height: 870px;
    width: 30%;
    margin-top: 50px;
}

.offers.top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid black;
}

.top{
    height: 200px;

}



.offers.body-table{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;
}

.time{
    color: gray;
}

.details{
    min-height: 300px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.details-container{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

hr{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 50px;
   
}

.button-blue.nth2{
    margin: 30px 0;
}

h4{
    margin-bottom: 30px;
}

ul{
    list-style-type: none;
}

li{
    margin: 10px 0;
}

.fa-check{
    color: #0061ff;
    margin-right: 10px;
}



    
    


/* contatti */
.office{
    width: 60%;
    margin: 30px 20%;
    min-height: 250px;

    /* DEBUG */
    background-color: lightcoral;
}

.partner{
    width: 60%;
    margin: 30px 20%;
    display: flex;
    justify-content: space-between;
    /* DEBUG */
    background-color: lightcoral;

}
.partner .img {
    width: 500px;
    height: 450px;
    margin: 0; 
}


/* funzioni dropbox */

.operations{
    width: 60%;
    margin: 30px 20%;
   

    /* DEBUG */
    background-color: lightgoldenrodyellow
}

.flex-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.items{
    width: 30%;
    min-height: 200px;
    margin-top: 20px;

    /* DEBUG */
    background-color: aqua;
    border: 1px solid black;

}


/* clienti */

 /* aziende */
.company{
    margin-top: 100px;
    min-height: 500px; /* DEBUG */
    display: flex;
}

.small{
    width: 33%;
    border: 1px solid black; /* DEBUG */
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 50%;
    height: 300px;
    border: 1px solid black; /* DEBUG */

}

.big{
    width: 33%;
    border: 1px solid black;
}

/* sottoscrizione */
.Subscribe{
    height: 400px;
    background-color: #b4d0e7;
}

/* faq */
.faq{
    height: 700px;

}

/* footer */
footer{
    height: 800px;
    background-color: black;
}